<nav class="nav">
    <div class="nav__container">
        <img class="nav__container--logo" src="../../../assets/imgs/Logo_ML@2x.png.png">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Nunca dejes de buscar" aria-label="searchValue" aria-describedby="search">
            <div class="input-group-append">
            <div class="input-group-text" id="search" (click)="search()">
                <img class="input-group--search" src="../../../assets/imgs/ic_Search@2x.png.png">
            </div>
            </div>
        </div>
    </div>
</nav>
