<div class="details__container">
    <app-categories class="hola"></app-categories>
    <div class="card">
        <div class="card--container">
            <img class="card--image">
            <div class="card--details">
                <p class="card--details__status">Nuevo - 234 vendidos</p>
                <p class="card--details__title">DECO REVERSE OXFORD 64GB</p>
                <p class="card--details__price">$1980</p>
                <button class="button--principal">Comprar</button>
            </div>
        </div>
        <div class="card--container-description">
            <p class="description--text">Descripcion del producto</p>
            <p class="description--details">Más para ver
                Con su pantalla IPS de 5.5", disfrutá de colores intensos y mayor nitidez en todos tus contenidos.
                
                Gran capacidad de almacenamiento
                Con su memoria interna de 64 GB siempre tendrás espacio para almacenar archivos y documentos importantes. Además, podrás guardar películas, series y videos para reproducirlos cuando quieras sin conexión.
                
                Batería para todo el día
                Su batería de 2750 mAh se adapta a tu ritmo de vida y te garantiza energía para toda una jornada con una sola carga.
                
                Máxima seguridad
                Gracias al sensor de huella dactilar, tendrás acceso a tu teléfono de manera segura y podrás desbloquearlo automáticamente con solo un toque.
                </p>
        </div>
    
    </div>
</div>