@import 'src/assets/styles/colors.scss';
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
p {
    margin: 0;
    padding: 0;
}

li+li {
    &:before {
        content: '>';
        margin: 0 0.5rem;
    }
}

.button {
    &--principal {
        border-color: transparent;
        background-color: $color-blue;
        color: $color-white;
        border-radius: 7px;
        height: 3rem;
    }
}